<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      GiftPODS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true">
  <ion-searchbar #search debounce="500" (ionChange)="filterData($event)"></ion-searchbar>


<ion-slides [options]="sliderOptions" class="ion-padding" pager style="margin-top: 1.2rem;">
  <ion-slide *ngFor="let slide of slider">
    <img [src]="slide.imgUrl" alt="images">
  </ion-slide>
</ion-slides>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let p of searchedItem" class= "item-entry" detail routerLink="/home/feed/prod-detail/{{ p.id }}">
          <ion-thumbnail>
            <ion-img [src]="p.imgUrl" alt="{{p.name}}"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h3 class="item-name">{{p.name}}</h3>
            <ion-text>
              <p class="price">{{ p.price| currency: "₱" }}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <ion-list>
  <ion-item *ngFor="let p of product">
    <ion-thumbnail slot="start">
      <img [src]="p.imgUrl">
    </ion-thumbnail>
    
    <ion-label>
      <h3>{{ p. name }}</h3>
      <h5>{{ p.price | currency: "₱"}}</h5>
    </ion-label>
    <ion-col size="4" class="ion-text-right">
      <ion-button fill="clear" (click)="addToCart(p)">
        <ion-icon name="add"> </ion-icon>
      </ion-button>
    </ion-col>
  </ion-item>
</ion-list> -->
</ion-content>


