<ion-header>
  <ion-toolbar>
    <ion-buttons *ngFor="let p of singleProd" >
      <ion-back-button  defaultHref="/" button (click)="removeSingleProd(p)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let p of singleProd">
  <ion-slides class="ion-padding">
    <ion-slide *ngFor="let i of singleProd">
      <ion-img [src]="i.imgUrl" alt="{{i.name}}"></ion-img>
    </ion-slide>
  </ion-slides>
  
  <ion-item-divider></ion-item-divider>

<ion-grid class="ion-no-padding">
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-card >
        <ion-card-header>
          <ion-card-title>
            <h3>{{ p.name }}</h3>
            <h5 class="fontcolor">{{ p.price | currency: '₱'}}</h5>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-chip color="danger">
              <ion-label>
              {{p.category}}
            </ion-label>
            </ion-chip>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <p>{{ p.desc }}</p>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-col size="4" class="ion-text-right">
  <ion-button  expand="full" fill="solid" (click)="addToCart(p)">
    Add to Cart
  </ion-button>
</ion-col>
</ion-content>
<!-- 
<ion-footer>
  <ion-toolbar *ngFor="let p of product" style="padding: 0 10px;">
    <ion-label>
      <ion-button  expand="full" fill="solid" (click)="addToCart(p)">
        Add to Cart
      </ion-button>
    </ion-label>
  </ion-toolbar>
</ion-footer> -->
