<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"  text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start"></ion-title>
  </ion-toolbar>

<ion-content>
  <ion-slides class="ion-padding">
    <ion-slide>
      <ion-img></ion-img>
    </ion-slide>
  </ion-slides>
  
  <ion-item-divider></ion-item-divider>

<ion-grid class="ion-no-padding">
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h2>PRODUCT TITLE</h2>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-chip>
              CATEGORY NAMES
            </ion-chip>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <p>product description</p>
          </ion-label>
          <ion-text>
            <p>PRICE</p>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0 10px;">
    <ion-label>
      <ion-button color="tertiary" expand="full" fill="solid">
        Add to Cart
      </ion-button>
    </ion-label>
  </ion-toolbar>
</ion-footer>
