.color{
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        min-width: 5rem;
    }
}

.alignment1{
    padding: 0rem;
}
.alignment
{
    text-align: right;
    
}
.fontcolor{
    color: red;
}
.padding{
//     width: 20px;
//   --height: 20px;
//   --vertical-align: middle;
  --padding-start: 0px;
  --padding-end: 0px;
}
.ion-select{
    white-space: pre-line !important;
    }

    